@import url(Fruits.css);
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "dosis";
    src: url("/fonts/Dosis/static/Dosis-Regular.ttf");
    font-display: swap;
}


@font-face {
    font-family: "delius";
    src: url("/fonts/Delius/Delius-Regular.ttf");
    font-display: swap;

}

@theme {
    --font-delius: 'delius';
    --font-dosis: 'dosis';
}
