@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 7rem;

    /* Phone */
    --top-bar-height: 2.5rem;
}

@layer base {
    @font-face {
        font-family: 'Dosis';
        src: url('/fonts/Dosis/static/Dosis-Regular.ttf');
        font-display: swap;
    }

    @font-face {
        font-family: 'Delius';
        src: url('/fonts/Delius/Delius-Regular.ttf');
        font-display: swap;
    }
}
